<div id = "sidebar">
        <div id = "sidebar-content">

            <button id = "hide" onclick = "hide()"><i class="fa fa-bars"></i></button>
            <center><p id = "fill">FILL IN YOUR DOCUMENT</p></center>
            <a href="/index" class = "link">
                <div class = "side-elements">  
                    <i class="fa fa-user"></i><span class = "hide-content">Personal Info</span>
                </div>
            </a>
            
            <a href="/experience" class = "link">
                <div class = "side-elements">
                    <i class="fa fa-suitcase"></i><span class = "hide-content">Experience</span>
                </div>
            </a>
            <a href="/education" class = "link">
                <div class = "side-elements">
                    <i class="fa fa-graduation-cap"></i><span class = "hide-content">Education</span>
                </div>
            </a>
            <a href="/skills" class = "link">
                <div class = "side-elements">
                    <i class="fa fa-puzzle-piece"></i><span class = "hide-content">Skills</span>
                </div>
            </a>
            <a href="/summary" class = "link">
                <div class = "side-elements">
                    <i class="fa fa-book"></i><span class = "hide-content">Summary</span>
                </div>
            </a>
            <a href="/get-data" class = "link">
                <div class = "side-elements">
                    <i class="fas fa-eye"></i><span class = "hide-content">Preview</span>
                </div>
            </a>
        </div>
    </div>